ul.social-network{
list-style: none;
padding: 0;
}

ul.social-network li{
    display: inline;
    margin: 0;
    padding: 6px;

}
.fa{
    font-size: 35pt;
    color: rgb(255, 255, 255);
    padding: 10px;
}
.fa-facebook-square:hover{
    color: blue;
}

.fa-instagram:hover{
    color: blueviolet;
}
.fa-linkedin-square:hover{
    color: rgb(39, 81, 129);
}